DATABASE_URL=
DB_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ENVIRONMENT=development
APP_NAME=Your App Name
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

SENDGRID_API_KEY=
FROM_EMAIL=noreply@example.com
EMAIL_TEMPLATES_DIR=

OPENAI_API_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

SLACK_TOKEN=
SLACK_CHANNEL=#general-urgent-alerts
